name: Java CI
 
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ main ]
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Tests + Coverage
        run: mvn clean test
 
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Upload Coverage Report
  uses: actions/upload-artifact@v3
  with:
    name: jacoco-report
    path: target/site/jacoco/
 
      - name: Cache Maven Packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: maven-
 
      - name: Build and Test
        run: mvn clean verify
